.list-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.posts-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.post-entry {
    background-color: rgb(245, 245, 245);
    min-width: 300px;
    max-width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.post-entry-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-entry-fig {
    font-size: 10px;
}

.post-entry-fig > img{
    border-radius: 10px;
}

.post-entry-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-entry-readmore,
.post-entry-readmore > a,
.post-entry-readmore > a:visited
{
    color: black;
    font-style: italic;
}