footer {
    grid-area: footer;
    background-color: rgb(26, 188, 156);
    color: rgb(255,255,255);
    font-family: Lato, Arial, sans-serif;
    padding: 20px;
    margin-top: 20px;
}

#footer-social,
#footer-social > a,
#footer-social > a:visited,
#footer-location {
    text-align: center;
    text-decoration: none;
    color: rgb(255,255,255);
}