/* Debug */
/* * { border: 1px solid red; } */


body {
    margin: 0px;
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: auto 1fr auto;
    row-gap: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
}

/* Header */

header {
    grid-area: header;
    background-color: rgb(26, 188, 156);
    color: white;
    font-family: Lato, Arial, sans-serif;
    padding: 20px;
}

#header-container {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#header-container-post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: baseline;
}

#back-button {
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

#post-title {
    text-align: center;
}

/* Content and Post */

main {
    grid-area: main;
    font-family: Raleway;
}

main > h2 {
    text-align: center;
}

article {
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 20px;
    margin: 40px;
    display: grid;
    grid-template-areas:
    "empty title"
    "image text"
    "image link";
    row-gap: 20px;
    column-gap: 40px;
}

.post-entry-title {
    grid-area: title;
}

.post-entry-img {
    grid-area: image;
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.post-entry-text {
    grid-area: text;
}

.post-entry-readmore,
.post-entry-readmore > a,
.post-entry-readmore > a:visited
{
    grid-area: link;
    color: black;
    text-decoration: none;
}

/* Footer */

footer {
    grid-area: footer;
    background-color: rgb(26, 188, 156);
    color: white;
    font-family: Lato, Arial, sans-serif;
    padding: 20px;
}

#footer-social,
#footer-social > a,
#footer-social > a:visited,
#footer-location {
    text-align: center;
    text-decoration: none;
    color: white;
}